*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#text{
    color: red;
}

.headerBox{
    display: flex;
    background-color: royalblue;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}